
#postcard{border-width: 1px;
    border-style: solid;
    object-fit: contain;
    margin-left: 35%;
    margin-top: 10%;
    border-color: black;
    height: 300px;
    width: 400px;}
#div1{margin-left: 10px;}

button{text-align: center;
margin-left: 35%;}

#img1 {
    object-fit: contain;
    height: 80px;
width: 80px;
float: right;
margin-right: 20px ;}

#mybody2{width:50%;float: left;
margin-left: 10px;
margin margin-top: 40px;}

#inputs{width: 45%;
    float: right;
margin-top: 10px;}

#parr2{width: 95%;
float: left;
margin-left: 10px;}